<div class="wrapper">
  <div class="grid">
    <div class="grid__item text-center">
      <p class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Copyright"
  }
{% endschema %}